In [1]:
# Importing the libraries to be used
import pandas as pd
import numpy as np

In [14]:
# Loading telcom dataset 1
data_1 = pd.read_csv('D:/veronica_moringa/project_dsp/data/Telcom_dataset_1.csv')
data_1.head()

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,#NAME?,#NAME?
4,Voice,14,06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [15]:
# Loading telcom dataset 2
data_2 = pd.read_csv('D:/veronica_moringa/project_dsp/data/Telcom_dataset2.csv')
data_2.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,#NAME?,#NAME?
3,Voice,37,04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,#NAME?,#NAME?

In [16]:
# Loading telcom dataset 3
data_3 = pd.read_csv('D:/veronica_moringa/project_dsp/data/Telcom_dataset3.csv')
data_3.head()

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,#NAME?,#NAME?
2,Voice,10,02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,#NAME?,#NAME?
4,Voice,22,03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

In [17]:
# Loading telcom dataset 4
data_4 = pd.read_excel('D:/veronica_moringa/project_dsp/data/CDR_description.xlsx')
data_4.head()

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String

In [20]:
# Loading telcom dataset 5
data_5 = pd.read_excel('D:/veronica_moringa/project_dsp/data/cells_geo_description.xlsx')
data_5.head()

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String

In [21]:
# Loading telcom dataset 6
data_6 = pd.read_csv('D:/veronica_moringa/project_dsp/data/cells_geo.csv')
data_6.head()

OSError: [Errno 22] Invalid argument: 'D:\x0beronica_moringa\\project_dsp\\data\\cells_geo.csv'

In [18]:
data_4.shape

(10, 3)