<a href="https://colab.research.google.com/github/veronica1013/project_dsp/blob/main/veronica_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql sqlite://

'Connected: @None'

In [8]:
import csv

In [9]:
import pandas as pd

In [10]:
# Go to Colab drive, in the relevant file folder and
#Click on the three dots to copy the file path then write below:
Uganda = pd.read_csv('/content/Uganda_Subcounty_Crop_Yield.csv')

In [11]:
%sql DROP TABLE if EXISTS Uganda;
%sql PERSIST Uganda;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda'

In [12]:
%%sql
SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(0, 263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (1, 264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (2, 265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (3, 266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (4, 267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

# 1. Display a list of Sub Counties and their population and areas

In [13]:
%%sql
SELECT SUBCOUNTY_NAME, POP, AREA
FROM Uganda;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

# 2. Sort the list of districts by total crop area (descending order)

In [14]:
%%sql
SELECT DISTRICT_NAME, Crop_Area_Ha
FROM Uganda
ORDER BY Crop_Area_Ha Desc;

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO', 13278.52043),
 ('KOTIDO', 10398.24939),
 ('KOTIDO', 7087.823334000001),
 ('KOTIDO', 7023.533691),
 ('KAABONG', 6890.699234000001),
 ('NAPAK', 6471.047334000001),
 ('NAKAPIRIPIRIT', 5793.5076229999995),
 ('NAKAPIRIPIRIT', 5759.618906000001),
 ('NAPAK', 5473.443674),
 ('NAKAPIRIPIRIT', 5079.779088),
 ('KAABONG', 3934.432233),
 ('NAKAPIRIPIRIT', 3276.653762),
 ('NAKAPIRIPIRIT', 3264.534948),
 ('NAPAK', 3120.318045),
 ('NAPAK', 2990.847377),
 ('KAABONG', 2834.349905),
 ('KAABONG', 2700.676313),
 ('AMUDAT', 2513.27183),
 ('MOROTO', 2480.1219),
 ('KAABONG', 2365.259806),
 ('MOROTO', 2217.2907170000003),
 ('NAKAPIRIPIRIT', 2008.0681690000001),
 ('KAABONG', 1890.248613),
 ('NAPAK', 1849.966589),
 ('KOTIDO', 1656.5318550000002),
 ('AMUDAT', 1651.99842),
 ('AMUDAT', 1539.401382),
 ('KAABONG', 1494.047587),
 ('KAABONG', 1491.771813),
 ('ABIM', 1266.109868),
 ('NAPAK', 1215.227445),
 ('NAKAPIRIPIRIT', 1161.3902289999999),
 ('MOROTO', 1111.664207),
 ('NAPAK', 1031.196285),
 ('KAABONG', 1021.31699),
 ('ABIM', 999.3715888),
 ('KAABONG', 997.1610206),
 ('KAABONG', 967.3367266),
 ('KAABONG', 957.4939457999999),
 ('ABIM', 925.0541302000001),
 ('ABIM', 792.8987889),
 ('NAPAK', 792.2492731000001),
 ('ABIM', 788.4628001),
 ('ABIM', 698.1712182),
 ('KAABONG', 401.7978207),
 ('KAABONG', 175.08052659999998),
 ('MOROTO', 145.243518),
 ('AMUDAT', 60.77208552),
 ('NAKAPIRIPIRIT', 29.14576036),
 ('MOROTO', 0.322315707),
 ('MOROTO', 0.17139046100000002)]

# 3. Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum

In [15]:
%%sql
SELECT SUBCOUNTY_NAME, S_Prod_Tot 
FROM Uganda
WHERE DISTRICT_NAME = 'MOROTO'
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

# 4. Compute the total Maize production per District

In [16]:
%%sql
SELECT DISTRICT_NAME, SUM(M_Prod_Tot) as  M_Prod_Tot
FROM Uganda 
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [17]:
Uganda.head()

   OBJECTID       SUBCOUNTY_NAME  ...    S_Prod_Tot     M_Prod_Tot
0       263              KACHERI  ...  2.279092e+06  600723.892900
1       264               KOTIDO  ...  4.582294e+06  959201.382500
2       265  KOTIDO TOWN COUNCIL  ...  5.614765e+05    9991.488268
3       266         NAKAPERIMORU  ...  1.915696e+06   38971.659080
4       267           PANYANGARA  ...  3.779939e+06  221609.511400

[5 rows x 13 columns]